<!DOCTYPE html>
<html>
	<head>
	</head>
	
	
	<body>
        <style>
div {
    background-color: lightgrey;
    width: 200px;
    height: 50px;
    float: left;
    padding: 25px;
    margin: 25px;
}
            form{
                float:left;
            }
</style>
		<h1>Länder</h1>
		<h2>Idag är det {{ date }} <br> Visar program för dag {{ showdate }}</h2>
        
<div>
    <form action="index.php" method="get">
        <input type="hidden"  name="date" value="{{ datetomorrow }}"  />
        <input type="hidden"  name="channel" value=""  />
        <input type="hidden"  name="channelnumber" value="{{ currentchannel }}"  />
        <input type="submit" value="Next day" />
    </form>
    <form action="index.php" method="get">
        <input type="hidden"  name="date" value="{{ date }}"  />
        <input type="hidden"  name="channel" value=""  />
        <input type="hidden"  name="channelnumber" value="{{ currentchannel }}"  />
        <input type="submit" value="Today" />
    </form>
    <form action="index.php" method="get">
        <input type="hidden"  name="date" value="{{ dateyesterday }}"  />
        <input type="hidden"  name="channel" value=""  />
        <input type="hidden"  name="channelnumber" value="{{ currentchannel }}"  />
        <input type="submit" value="Previous day" />
    </form>
    <form action="index.php" method="get">
        <input type="hidden"  name="date" value="{{ date }}"  />
        <input type="hidden"  name="channel" value="Next"  />
        <input type="hidden"  name="channelnumber" value="{{ currentchannel }}"  />
        <input type="submit" value="Next channel" />
    </form>
    <form action="index.php" method="get">
        <input type="hidden"  name="date" value="{{ date }}"  />
        <input type="hidden"  name="channel" value="Previous"  />
        <input type="hidden"  name="channelnumber" value="{{ currentchannel }}"  />
        <input type="submit" value="Previous channel" />
    </form>
</div>     
	
{% for program in programs %}
		<div>* {{ program.title }} <br> {{ program.timestart }}  -  {{ program.timeend }}  </div>
{% else %}
	No programs found! :(
{% endfor %}

  

        
	</body>
</html>